<section>

    <h1><%= __('common.archives') %> </h1>
   
    <% page.posts.each(function (post) { %>
        <div>
          <time><b><%= format_date_full(post.date) %></b></time> - 
          <a  href="<%- url_for(post.path) %>"><%= post.title || __('untitled')%></a>
        </div>

    <% }) %>
</section>

<%- partial('_partial/paginator') %>