<section>
    <h1><%= config.title %></h1>
    <h2><%= __('common.blog') %>  | <a href="<%- url_for(lang_prepend('/tags')) %>"><%= __('common.tags') %> </a></h2>
    
   
    <% page.posts.each(function (post) { %>
        <div style="padding: 0 0 10px 0;">
          <time><b><%= format_date_full(post.date) %></b></time>
          <a  href="<%- url_for(post.path) %>"><%= post.title || __('untitled')%></a>
          <br />
          ><span>
            <% if( post.tags &&  post.tags.length > 0 ) {%>
              <% post.tags.forEach(tag => {%>
              <a href="<%- url_for(lang_prepend(tag.path)) %>"><%= i18n_for_tag(tag.name) %></a> 
              <% })%>
            <% }%>
          </span>
        </div>

    <% }) %>
</section>

<%- partial('_partial/paginator') %>