<%# profile %>

<% var profile = theme.profile %>

<h1><%= config.title %></h1>

<div>
	<%- partial('_partial/languages') %>
	<%- partial('_partial/navigation') %>
	<%- include_md('_index/' + page_language() + '.md') %>

<!-- 	<div class="row">
		<div class="column">
			<a href="<%- url_for(lang_prepend('/blog')) %>">
				<img alt="<%= __('common.blog') %>" src="//cdn.patrickwu.space/base/topic-write.png"/><br/>
				<b><%= __('common.blog') %></b>
			</a>
		</div>
		<div class="column">
			<a href="//comic.patrickwu.space/">
				<img alt="<%= __('common.comic') %>" src="//cdn.patrickwu.space/base/topic-comic.png"/><br/>
				<b><%= __('common.comic') %></b>
			</a>
		</div>
	</div> -->
	<div>
		<input id="toggle-list-1" class="toggle" type="checkbox">
		<label for="toggle-list-1" class="fancy-toggle-1"><%= __('home.social') %></label>
		<div class="list">
			<p>
				<ul>
					<% for (var i in site.data.social) { %>
						<li><a href="<%= site.data.social[i] %>"><%= i %></a></li>
					<% } %>
				</ul>
			</p>
		</div>
	</div>
	<div>
		<input id="toggle-list-2" class="toggle" type="checkbox">
		<label for="toggle-list-2" class="fancy-toggle-2"><%= __('home.talks') %></label>
		<div class="list">
			<p>
				<ul>
					<% for (var t in site.data.talks) { %>
						<li><%- render(site.data.talks[t], 'ejs') %></li>
						<% } %>
				</ul>
			</p>
		</div>
	</div>
	<div>
		<input id="toggle-list-3" class="toggle" type="checkbox">
		<label for="toggle-list-3" class="fancy-toggle-3"><%= __('home.friends') %></label>
		<div class="list">
			<p>
				<ul>
					<% for (var friend in site.data.friends) { %>
					<li><a href="<%= site.data.friends[friend] %>"><%= friend %></a></li>
					<% } %>
				</ul>
			</p>
		</div>
	</div>
</div>



