<%# profile %>

<% var profile = theme.profile %>

<h1><%= config.title %></h1>

<div>
	<%# about %>
	<h2 style="margin: 20px 0 20px;"><%= __('common.about') %> </h2>

	<p>  Graduated from <a href="https://www.cse.ust.hk/">HKUST as BEng on Computer Science</a> and <a href="http://msc.cse.cuhk.edu.hk">CUHK as MSc on
			Computer Science</a>, Main developer of <a
			href="https://wslutiliti.es">WSL Utilities</a>, and UWP Developer as <a
			href="https://github.com/wedotstudio">WE. Studio</a>. Previously worked as a software developer in
			<a href="https://canonical.com">Canonical</a> mainly developing
			<a href="https://ubuntu.com/wsl">Ubuntu for WSL</a> and helped develop Pengwin at <a
			href="https://whitewaterfoundry.com">Whitewater Foundry</a>, and founder of (no longer active) Windows Phone
		community
		<a href="https://wp8bartemp.wordpress.com/">WPerfect</a>. My CV in pdf can be found <a href="https://cdn.patrickwu.space/base/cv.pdf">here</a>.</p>

	<p>You can support me via <a href="https://github.com/sponsors/patrick330602">GitHub Sponsors</a> or
		<a href="https://www.paypal.me/callmepk/">PayPal</a>, or buy some of my works at <a
			href="https://callmepk.redbubble.com">Redbubble</a>. </p>

	<div>
		<input id="toggle-list-1" class="toggle" type="checkbox">
		<label for="toggle-list-1" class="fancy-toggle-1"><%= __('home.social') %></label>
		<div class="list">
			<p>
				<ul>
					<% for (var i in site.data.social) { %>
						<li><a href="<%= site.data.social[i] %>"><%= i %></a></li>
					<% } %>
					<li><a href="http://callmepatrick.unixcab.org" target="_blank">SDF</a></li>
				</ul>
			</p>
		</div>
	</div>
	<div>
		<input id="toggle-list-2" class="toggle" type="checkbox">
		<label for="toggle-list-2" class="fancy-toggle-2"><%= __('home.talks') %></label>
		<div class="list">
			<p>
				<ul>
					<% for (var t in site.data.talks) { %>
						<li><%- render(site.data.talks[t], 'ejs') %></li>
						<% } %>
				</ul>
			</p>
		</div>
	</div>
	<div>
		<input id="toggle-list-3" class="toggle" type="checkbox">
		<label for="toggle-list-3" class="fancy-toggle-3"><%= __('home.friends') %></label>
		<div class="list">
			<p>
				<ul>
					<% for (var friend in site.data.friends) { %>
					<li><a href="<%= site.data.friends[friend] %>"><%= friend %></a></li>
					<% } %>
				</ul>
			</p>
		</div>
	</div>
</div>

<div id="sec-post">
	<%# blog %>
	<h2 style="margin: 20px 0 20px;"><%= __('common.posts') %> | <a href="<%- url_for(lang_prepend('/tags')) %>"><%= __('common.tags') %> </a></h2>
	<% var local_post_count = 0 %>
	<% page.posts.each(function (post) { %>
	<% if( post.categories &&  post.categories.length == 0 && local_post_count < 10 ) {%>
	<p>

		<time><b><%= format_date_full(post.date) %></b></time>
		<a href="<%- url_for(post.path) %>"><%= post.title || __('Untitled')%></a>
		<br />><span>
			<% if( post.tags &&  post.tags.length > 0 ) {%>
			<%- list_tags( post.tags ,{
					  show_count:false,
					  style:'none',
					  separator:" "
					  }) %>
			<% }%>
		</span>
	</p>
	<% local_post_count += 1 %>
	<% }}) %>

	<b>>> <a href="<%- url_for(lang_prepend('/archives')) %>"><%= __('common.more') %> </a></b>
</div>

