<%# profile %>

<% var profile = theme.profile %>
<div class="header">
<h1><%= config.title %></h1>
<%- partial('_partial/languages') %>
</div>
<div>
	<div id="sec-post">
		<%# blog %>
		<h2 class="home-title"><%= __('common.blog') %> <a href="<%- url_for(lang_prepend('/blog')) %>">></a></h2>
		<% var local_post_count = 0 %>
		<% page.posts.each(function (post) { %>
		<% if( post.categories &&  post.categories.length == 0 && local_post_count < 5 ) {%>
		<p>
			<time><b><%= format_date_full(post.date) %></b></time> 
			<a  href="<%- url_for(post.path) %>"><%= post.title || __('Untitled')%></a>
			<br/>><span>
				<% if( post.tags &&  post.tags.length > 0 ) {%>
					<% post.tags.forEach(tag => {%>
					<a href="<%- url_for(lang_prepend(tag.path)) %>"><%= i18n_for_tag(tag.name) %></a> 
					<% })%>
				  <% }%>
			</span>
		</p>
		<% local_post_count += 1 %>
		<% }}) %>
	</div>
	<h2 class="home-title"><%= __('home.about') %></h2>

	<%- include_md('_i18n/' + page_language() + '/intro.md') %>

	<div id="sec-contact">
		<h3 class="home-title"><%= __('home.contact') %></h2>
		<%- include_md('_data/contact.md') %>
	</div>

	<div id="sec-social">
		<h3 class="home-title"><%= __('home.social') %></h2>
		<%- include_md('_data/social.md') %>
	</div>

	<div id="sec-talks">
		<h3 class="home-title"><%= __('home.talks') %></h2>
		<div class="list">
			<p>
				<ul>
					<% for (var t in site.data.talks) { %>
						<li><%- render(site.data.talks[t], 'ejs') %></li>
						<% } %>
				</ul>
			</p>
		</div>
	</div>
	<div>
		<h3 class="home-title"><%= __('home.support') %></h3>
		<div class="list">
			<p>
				<ul>
					<% for (var i in site.data.support) { %>
						<li><a href="<%= site.data.support[i] %>"><%= i %></a></li>
					<% } %>
				</ul>
			</p>
		</div>
	</div>
</div>



