<article class="post">
	<%- partial('_partial/_post/katex',{post: page}) %> 
	<h1><%= page.title|| __('Untitled') %></h1>

	---<br />
	date: <%= date(page.date,  "MMM DD, YYYY") %><br/>
	---
</div>

	  <div>

		<% if (page.banner){ %>
			
				<div class="banner" 
				src="<%- url_for(page.banner) %>" 
				style="background-image:url(<%- url_for(page.banner) %>)"> </div>	

		<% } else if (page.photos && page.photos.length){ %> 	
				<%- partial('_partial/_post/gallery',{post:page}) %>			
		<%}%>

			<% if (page.excerpt && page.hide_excerpt ){ %>
					<%- page.more %>  					
			<%} else{%>
					<%- page.content %>  	
			<%}%>		
	  </div>     

</article>