<article class="post">
	<%- partial('_partial/_post/katex',{post: page}) %> 
	<h1><%= page.title|| __('Untitled') %></h1>

	---<br />
	<%= __('post.date') %>: <%= format_date_full(page.date) %><br/>
	---
</div>

	  <div>
			<% if (page.excerpt && page.hide_excerpt ){ %>
					<%- page.more %>
			<%} else{%>
					<%- page.content %>
			<%}%>
	  </div>

</article>