<% var since = theme.footer.since %>
<% var year = date(new Date(), 'YYYY') %>

<hr/>
<div class="footer">
<%- include_md('_i18n/' + page_language() + '/license.md') %>

<hr/>

<p>
     <%- include_md('_i18n/' + page_language() + '/footer.md') %>
</p>

<a href="https://fediring.net/previous?host=patrickwu.space">←</a>
<a href="https://fediring.net/">Fediring</a>
<a href="https://fediring.net/next?host=patrickwu.space">→</a>
<br/>

<% if (! is_home()) { %>
     <%- partial('_partial/languages') %>
<% } %>
<%- partial('_partial/navigation') %>
<%= since %> - <%= year %>
|
<%= config.author %>
</div>