<% var since = theme.footer.since %>
<% var year = date(new Date(), 'YYYY') %>

<hr/>

<%- render(__('cc_license'), 'ejs') %>

<hr/>

<p>
     <%- render(__('analytics_warning'), 'ejs') %><br/>
     <%- render(__('ref'), 'ejs') %>
</p>

<%- partial('_partial/languages') %>

<a href="https://patrickwu.space" target="_blank"><%= __('common.home') %></a> 
| 
<a href="https://patrickwu.space/rss2.xml" target="_blank"><%= __('common.rss') %></a> 
| 
<a href="https://patrickwu.space/sitemap.xml" target="_blank"><%= __('common.sitemap') %></a>
<br/>
<%= since %> - <%= year %>
|
<%= config.author %>