<% var since = theme.footer.since %>
<% var year = date(new Date(), 'YYYY') %>

<hr/>

<%- render(__('cc_license'), 'ejs') %>

<hr/>

<p>
     <%- render(__('analytics_warning'), 'ejs') %><br/>
     <%- render(__('ref'), 'ejs') %>
</p>



<% if (! is_home()) { %>
     <%- partial('_partial/languages') %>
<% } %>
<%- partial('_partial/navigation') %>
<%= since %> - <%= year %>
|
<%= config.author %>