<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
  <%
    var title = titlecase(page.title);

    if (is_archive()){
      title = __('common.blog');   
    } else if (is_tag()){
      title = __('common.tag') + ': ' + i18n_for_tag(page.tag);
  }
  %>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@callmepkwu" />
  <meta name="twitter:creator" content="@callmepkwu" />
  <meta property="og:url" content="<%= config.url + '/' + page.path %>" />
  <meta property="og:title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>" />
  <% if (is_post()) { %>
    <% var time = date(page.date,  "HH:mm")
        if (time > "18:00") {
          var theme= 'dark';
        } else {
          var theme= 'light';
        } %>
    <meta property="og:image" content="https://api.wedotstud.io/thumbnail?file=<%- page.path.split('/').slice(-2)[0] %>&title=<%= escape_string_for_url(page.title) %>&date=<%= format_date_full(page.date) %>&theme=<%= theme %>&lang=<%= page_language() %>" />
  <% } else { %>
  <meta property="og:image" content="https://cdn.patrickwu.space/base/social.png" />
  <% } %>
  <title><% if (title){ %>  <%= title %> | <% } %><%= config.title %> </title>

  <% const languages = display_languages();
const pageLanguage = page_language(page);
if (languages.length > 1) {
    languages.forEach((language) => {
        if (language !== 'default' && pageLanguage !== language) { %>
<link href="<%= url_for(i18n_path(!is_default_language(language) ? language : null)) %>" rel="alternate" hreflang="<%= rfc5646(language) %>" />
    <% }
    });
} %>

 
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(  theme.favicon ) %>">
  <% } %>

  <script async defer data-website-id="110d913a-dcd0-4103-824d-2f05e033539b" src="https://analytics.wedotstud.io/umami.js"></script>

  <%- js('honk.js') %>
  <%- css('style') %> 
</head>