<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
  <%
    var title = titlecase(page.title);

    if (is_archive()){
      title = __('Page.Archives');   
    } else if (is_category()){
      title = page.category;
    } else if (is_tag()){
      title = __('Page.Tags') + ': ' + page.tag;
  }
  %>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@patrick330602" />
  <meta name="twitter:creator" content="@patrick330602" />
  <meta property="og:url" content="<%= config.url + '/' + page.path %>" />
  <meta property="og:title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>" />
  <meta property="og:image" content="https://cdn.patrickwu.space/base/social.png" />
  <title><% if (title){ %>  <%= title %> | <% } %><%= config.title %> </title>

 
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(  theme.favicon ) %>">
  <% } %>
<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
  //<![CDATA[
  var owa_baseUrl = 'https://a.patrickwu.space/';
  var owa_cmds = owa_cmds || [];
  owa_cmds.push(['setSiteId', 'f134ed8fb95667ce94bbca095d32af45']);
  owa_cmds.push(['trackPageView']);
  owa_cmds.push(['trackClicks']);
  
  (function() {
      var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
      owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
      _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
      var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
  }());
  //]]>
</script>
<!-- End Open Web Analytics Code -->

  <%- js('honk.js') %>
  <%- css('style') %> 
</head>