<div>
<a href="https://patrickwu.space" target="_blank"><%= __('common.home') %></a> 
|
<a href="https://patrickwu.space/blog" target="_blank"><%= __('common.blog') %></a>
|
<a href="https://comic.patrickwu.space/" target="_blank"><%= __('common.comic') %></a>
|
<%= __('common.podcasts') %>
|
<a href="https://patrickwu.space/rss2.xml" target="_blank"><%= __('common.rss') %></a> 
| 
<a href="https://patrickwu.space/sitemap.xml" target="_blank"><%= __('common.sitemap') %></a>
</div>
