<h2><%= __('paginator.title') %></h2>

<% if (page.total > 1){ %>
<%- render(_p('paginator.location', page.current), 'ejs') %>
<br />
<% if (page.prev) { %>
<a href="<%- url_for(lang_prepend(page.prev_link)) %>"><%= __('paginator.prev') %></a>
<% } else {%>
    <%= __('paginator.prev') %>
<% } %>
　<br />
<% if (page.next) { %>
<a href="<%- url_for(lang_prepend(page.next_link)) %>"><%= __('paginator.next') %></a>
<% } else {%>
    <%= __('paginator.next') %>
<% } %>
<% } else { %>
<p><%= __('paginator.onepage') %></p>
<% } %>