<% if (page.comments !== "false") { %>

<script data-isso="//api.patrickwu.space/isso/main"
<% if (page_language() == "zh") { %> 
  data-isso-lang="zh-TW"
<% } else if (page_language() == "eo") { %> 
  data-isso-lang="eo"
<% } else { %>
  data-isso-lang="en"
<% } %>
  src="//api.patrickwu.space/isso/main/js/embed.min.js"></script>

<section id="isso-thread">
    <noscript>Javascript needs to be activated to view comments.</noscript>
</section>
<% } %>

<h2><%= __('post.nav') %> </h2>

<% if (page.prev || page.next){ %>
<nav>
  <% if (page.prev){ %>
  <div>
    <strong><%= __('post.next') %></strong>:
    <% var title = truncate(page.prev.title , {length:60}) %>
    <a class="post-nav-title" href="<%- url_for(page.prev.path) %>">
      <%= title ||  __('untitled') %>
    </a>
  </div>
  <% } %>
  <% if (page.next){ %>
  <div>
      <strong><%= __('post.prev') %></strong>:
      <% var title = truncate(page.next.title, {length:60}) %>
      <a class="post-nav-title" href="<%- url_for(page.next.path) %>">
        <%= title ||  __('untitled') %>
      </a>
  </div>
  <% } %>
</nav>
<% } %>