<% if (page.comments !== "false") { %>
<h2><%= __('post.comments') %> </h2>

<script src="https://utteranc.es/client.js"
        repo="patrick330602/blog-source"
        issue-term="pathname"
        label="comment"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
<% } %>

<h2><%= __('post.nav') %> </h2>

<% if (page.prev || page.next){ %>
<nav>
  <% if (page.prev){ %>
  <div>
    <strong><%= __('post.next') %></strong>:
    <% var title = truncate(page.prev.title , {length:60}) %>
    <a class="post-nav-title" href="<%- url_for(page.prev.path) %>">
      <%= title ||  __('untitled') %>
    </a>
  </div>
  <% } %>
  <% if (page.next){ %>
  <div>
      <strong><%= __('post.prev') %></strong>:
      <% var title = truncate(page.next.title, {length:60}) %>
      <a class="post-nav-title" href="<%- url_for(page.next.path) %>">
        <%= title ||  __('untitled') %>
      </a>
  </div>
  <% } %>
</nav>
<% } %>