<div>

	<h1><%= page.title|| __('untitled') %></h1>

	---<br />
	<%= __('post.date') %>: <%= date(page.date,  "MMM DD, YYYY") %><br />

	<% if( page.tags &&  page.tags.length > 0 ) {%>
		<%= __('post.tags') %>:<br />
		<% page.tags.forEach(tag => {%>
			- <a href="<%- url_for(lang_prepend(tag.path)) %>"><%= i18n_for_tag(tag.name) %></a><br />
		<% })%>
	<% }%>
	<% const languages = display_languages();

	if (languages.length > 1) {%>
		<% if (page.lang_switch !== "false") { %>
			<%= __('post.lang') %>:
			<% if (page.multi_lang) { %>
				<% for (var language in page.multi_lang) {  %>
					<% if (language === page_language()) { %>
						<%= language_name(language) %>
					<% } else { %>
						<% var lang_key = page.multi_lang[language]; var cur_lang_count = page.multi_lang[page_language()].length %>
						<a href="<%= url_for(page.path).slice(0, (-1 - cur_lang_count)) + lang_key + '/' %>"><%= language_name(language) %></a>
					<% } %>
				<% } %>
			<% } else { %>
				<%= language_name(page_language()) %>
			<% } %>
		<% } %>
		<br/>
	<%} %>
	---
</div>